loaddefs.el
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
history
elpa
.cache/*
.smex-items
.lsp-session-v1
.python_environments/
ac-comphist.dat
network-security.data
projectile.cache
projectile-bookmarks.eld
smex-items
ido.last
forge-database.sqlite
.python-environments
magithub
vendor
